<div class="container-ms">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">{{count}}</h3>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="sumar1()" type="button" class="btn btn-outline-success">+1</button>
                <button (click)="restar1()" type="button" class="btn btn-outline-danger">-1</button>
                <button (click)="resetCount()" type="button" class="btn btn-outline-dark">reset</button>
            </div>
        </div>
    </div>
</div>